.page {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  color: #ff385c;
  font-size: 24px;
  font-weight: 700;
}

.navbar a {
  color: #222;
  font-size: 14px;
  text-decoration: none;
}
