/* 전체 사이트의 상하좌우 여백 설정 + 사이트 내부 최대 너비 제한 */
/* 전체 글꼴 설정 (앞에서 부터 적용 되는데 나는 아마 -apple-system 적용 된듯..?) */
body {
    font-family: "Airbnb Cereal VF", Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    padding-top: 48px;
    padding-bottom: 96px;
    padding-right: 80px;
    padding-left: 80px;
    max-width: 1440px;
} 
/* 전체 넓이 및 content 사이 간격 설정 */
main {
    width: 1080px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(25% - 18px);
    margin-right: 0;
    margin-left: 0;
    column-gap: 24px;
}
/* 제목 글씨 크기 및 굵기 */
h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 0;
    padding-bottom: 8px;
}
/* 부제목 글씨 크기 및 굵기 */
h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 24px;
}
/* content 관련 조정 */
.airbnb_content {
    width: 245px;
    font-size: 14px;
    line-height: 20px;
}
/* 평점 오른쪽 정렬 */
.rating{
    float: right;
}
/* 회색 글씨 적용 */
.explain_gray {
    color: rgb(106,106,106);
}
/* 본문과 총액 사이 여백 제거 (없으면 어느 간격이하로 안줄어서 넣어습니다,,) */
p {
    margin-bottom: 0;
}
/* 총액 위치 조정 */
.total_price{
    display: block;
    margin-top: 6px;
}
/* 이미지 관련 조정 */
.airbnb_content img {
    height: 235px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    display: block;
}
/* 게스트 추천 넣기 위한 태그 */ 
/* 호버 상태시 크기 키우기 */
.image_box {
  position: relative;
  width: 100%;
}
.image_box:hover {
    transform: scale(1.1);
}

/* 게스트 추천 */
.badge {
    background-color: white;
    position: absolute;
    top: 16px;
    left: 16px;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 더 살펴보기 버튼 조정 */
/* 호버 상태시 색상 바꿔서 가시성 확보하기 */
.button_more {
    margin-top: 32px;
    margin-right: 15px;
    background-color: rgb(255,255,255);
    border-radius: 8px;
    border-width: 1px;
    font-size: 16px;
    width: 120px;
    height: 48px;
}
.button_more:hover {
  background-color: lightgray;
}

/* +,- 버튼 크기 조정 */
.plus_minus {
    background-color: rgb(255,255,255);
    border-radius: 8px;
    border-width: 1px;
    font-size: 16px;
    font-weight: 400;
    width: 32px;
    height: 32px;
}
