@import 'tailwindcss';

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px; /*소형데스크탑*/
  --breakpoint-xl: 1280px; /*대형데스크탑*/
  --breakpoint-2xl: 1536px; /*초대형데스크탑*/
}

body {
  background-color: black;
  color: white;
  margin: 0;
}