.TextCard {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 126px;
  width: 100%;
}

h2 {
  box-sizing: border-box;
  display: block;
  color: rgb(34, 34, 34);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 26px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 28px;
  text-align: start;
  color: rgb(34, 34, 34);
}

@media (max-width: 768px) {
  .TextCard > h2,
  .TextCard > .text {
    display: flex;
    width: 100%;
  }
}
